.container {
}

.container__input {
	outline: none;
	height: 30px;
	width: 100%;
	padding: 0;
	border: none;
	margin-bottom: 20px;
	border-radius: 10px;
}

@media (max-width: 560px) {
	.container__input {
		font-size: 11px;
	}
}
