.container {
	
}

.container__button {
	height: 30px;
	width: 100%;
	background-color: coral;
	border: none;
	margin-top:10px;
	border-radius:10px;
}

.container__button:hover {
	cursor: pointer;
	opacity: 0.7;
	transition: opacity 300ms;
}
