.container{
   padding:10px;
 
}

.container__button{

height: 30px;
width: 100%;
background-color: coral;
border: none;
}
.container__button:hover{
   cursor: pointer;
   opacity: 0.7;
   transition: opacity 300ms;
   }
button:disabled:hover{
   cursor:not-allowed;
}