.container__error {
	margin: 0 auto;
	background-color: #8d8d8d;
	height: 600px;
	padding: 50px;
	max-width: 600px;
	width: 100%;
	border-radius: 40px;
}
.container__content {
	max-width: 1000px;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

button.button {
	background-color: #cdcdcd;
	border: none;
	border-radius: 15px;
	padding: 15px;
	margin-top: 40px;
}

button.button:hover {
	transition: all  500ms;
	cursor: pointer;
	background-color: coral;
}
.button span {
	font-weight: 700;
}

.errorSentenses {
	font-size: 40px;
	color: #fdfdfd;
	font-weight: 700;
}

@media (max-width:560px){
	.errorSentenses{
		font-size: 20px;
	}
	.container__error{
		height: 400px;
	}

}