.modal__container {
	display: none;
}

.modal__container-active {
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal__container__content {
	padding: 20px;
	border-radius: 12px;
	background-image: url("../../../assets/img/background-card.jpg");
	background-position: center center;
	height: 850px;
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.movieBox__reviews {
	max-width: 800px;
	width: 100%;
	min-height: 335px;
	overflow-y: scroll;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
}

.movieBox__reviews__container {
	max-width: 700px;
	width: 100%;
	background-color: #cdcdcd;
	min-height: 50%;
	border-bottom: 1px solid #fdfdfd;
}

.movieBox__username {
	margin-bottom: 10px;
	font-size: 30px;
}
.movieBox__review-date {
}

.movieBox__review {
	margin-bottom: 20px;
	font-size: 14px;
}

.fieldReview {
	max-width: 700px;
	width: 100%;
}

.movieBox__image-card {
	max-width: 800px;
	min-height: 335px;
	margin: 0 auto;
}

.movieBox__image-card img {
	max-width: 600px;
	width: 100%;
	height: 335px;
}

.movieBox__reviews__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 560px) {
	.modal__container__content {
		max-width: 250px;
	}
	.movieBox__image-card {
		width: 250px;
		min-height: 350px;
	}
	.movieBox__reviews {
		max-width: 300px;
		width: 100%;
	}
	.movieBox__review {
		font-size: 8px;
	}
	.movieBox__username {
		font-size: 10px;
	}
	.movieBox__review-date {
		font-size: 10px;
	}
}
