.movieBox {
	max-width: 350px;
	justify-content: space-around;
	width: 100%;
	min-height: 485px;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.movieBox:hover{
	cursor: pointer;
	background-color:#C0C0C0;
	border-radius:10px;
	transition: background-color 700ms

}

.movieBox__fullTitle {
	text-align: center;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: 700;
}

.movieBox__image {
	max-width: 100px;
	width: 100%;
	max-width: 255px;
}

.movieBox__image img{
	max-width: 250px;
}

.movieBox__year {
}

.movieBox__crew {
	max-width: 200px;
	width: 100%;
}

.movieBox__imDbRating {
}

.describe {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
