.container__main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	background-color: transparent;
	backdrop-filter: blur(55px);
	margin: 0 auto;
}

.header {
	max-width: 1200px;
	width: 100%;
	background-color: transparent;
	backdrop-filter: blur(85px);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 105px;
}

span.span {
	text-align: center;
	font-weight: 700;
}
.buttonToExit{
	background-color:transparent;
	border:none;
	height: 45px;
	border-radius:10px;
	border: 1px solid #cdcdcd;
}
.buttonToExit:hover{
	cursor: pointer;
	background-color:#cdcdcd;
	transition: background-color 700ms;
	border-radius:10px;
}
img {
	max-width: 80px;
	width: 100%;
	height: 80%;
}
.movies__boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.list {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
	width: 100%;
}

.list__item:not(:last-child) {
	margin-right: 55px;
	
}
.list__item{
	font-size: 24px;
}
.list__item:hover {
	cursor: pointer;
	color: #cdcdcd;
	transition: color 500ms;
}

.pagination {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	gap: 5px;
	color:#000;
}

.pagination .page-num {
	padding: 8px 15px;
	cursor: pointer;
	border-radius: 3px;
	font-weight: 400;
}

.pagination .page-num:hover {
	background-color: #cdcdcd;
	color: #000;
	transition: background-color 700ms;
}

.pagination .active {
	background-color: #cdcdcd;
}

.preloader {
	display: flex;
	padding: 3px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	height: calc(100vh - 200px);
}

.user {
	display: flex;
	align-items: center;
}

.welcome {
	margin-right: 5px;
	font-weight: 400;
font-size: 18px;
}

.user__serverdata {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 10px;
}

.navigation {
	padding: 0;
	margin: 0;
	max-width: 875px;
}
